{
  "*.{ts,tsx}": [
    "eslint --rule 'no-console: error' --fix",
    "prettier --write src/",
    "prettier --write components/",
    "bob build"
  ],
  "*.{json,md}": [
    "prettier --write"
  ]
}
