name: 'Verify and Release'

on:
  push:
    branches:
      - main
      - next

jobs:
  verify:
    uses: ./.github/workflows/verify.yml
    secrets: inherit
  publish:
    # Only publish docs from main branch
    if: github.ref == 'refs/heads/main'
    uses: ./.github/workflows/publish-docs.yml
    needs: verify
    secrets: inherit
  release:
    uses: ./.github/workflows/release.yml
    needs: verify
    secrets: inherit
